{% set user_link %}
<span class="user-popup">
    <a class="text-decoration-none" href="{{ url_for('main.user', username=post.author.username) }}">{{ post.author.username }} </a>
</span>
{% endset %}

<tr>
    <td width="70px">
        <span class="user-popup">
            <a href="{{ url_for('main.user', username=post.author.username) }}"><img src="{{ post.author.avatar(48) }}" alt="avatar"></a>
        </span>
    </td>
    <td>
        {{ user_link }}
        said {{ moment(post.timestamp).fromNow() }}:<br>
        <span class="d-inline-block text-truncate" style="max-width: 400px;"><strong>{{ post.body }}</strong></span>
    </td>
</tr>
