{% extends "base.html" %}
{% block content %}
<h2>Hello, {{ current_user.username }}!</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.post.label }}<br>
        {{ form.post(cols=80, rows=8) }}<br>
        {% for error in form.post.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit }}</p>
</form>
<div>
    {% for post in posts %}
    <div>
        <p>{{ post.author.username }} says: <strong>{{ post.body }}</strong></p>
    </div>
    {% endfor %}
</div>
{% endblock %}
